<h1> <%= @article.title %>
  <%= link_to article_path method: :delete, data: { confirm: 'Are you sure ?'} do %>
    <i class="fas fa-times"></i>
  <% end %>
  <%= link_to edit_article_path(@article) do%>
  <i class="fas fa-pen"></i>
  <% end %>
</h1>

  <div class="article_info">
    <img src="https://source.unsplash.com/random/600x400" alt="hasard">
    <p> <%= @article.content %> </p>
  </div>

  <%= link_to 'Retour à la base', root_path %>



